<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://assets.stickpng.com/images/5842a4f5a6515b1e0ad75af6.png" alt="" width="172" height="157">
    <h1 class="display-5 fw-bold">Login Avengers</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Presiona el boton Login para entrar al mundo fantastico de los Comics</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" (click)="login()" class="btn btn-primary btn-lg px-4 gap-3">Login</button>

      </div>
    </div>
  </div>

